<li class="nav-header">TESORERÍA</li>
<li class="nav-item">
  <a href="/admin/socios/cuotas" class="nav-link{{ ' active' if isMenuActive('/admin/socios/cuotas') }}">
    <i class="nav-icon bi bi-cash-coin"></i><p>Cuotas</p>
  </a>
</li>
