<li class="nav-header">CLUBES</li>
<li class="nav-item">
  <a href="/admin/clubes" class="nav-link{{ ' active' if isMenuActive('/admin/clubes') }}">
    <i class="nav-icon bi bi-building"></i><p>Listado</p>
  </a>
</li>
<li class="nav-item">
  <a href="/admin/clubes/nuevo" class="nav-link{{ ' active' if isMenuActive('/admin/clubes/nuevo') }}">
    <i class="nav-icon bi bi-plus-circle"></i><p>Nuevo club</p>
  </a>
</li>
