<li class="nav-header">SOCIOS</li>
<li class="nav-item">
  <a href="/admin/socios" class="nav-link{{ ' active' if isMenuActive('/admin/socios') }}">
    <i class="nav-icon bi bi-people-fill"></i><p>Listado</p>
  </a>
</li>
<li class="nav-item">
  <a href="/admin/socios/nuevo" class="nav-link{{ ' active' if isMenuActive('/admin/socios/nuevo') }}">
    <i class="nav-icon bi bi-person-plus"></i><p>Nuevo socio</p>
  </a>
</li>
<li class="nav-item">
  <a href="/admin/socios/cuotas" class="nav-link{{ ' active' if isMenuActive('/admin/socios/cuotas') }}">
    <i class="nav-icon bi bi-cash-coin"></i><p>Cuotas</p>
  </a>
</li>
