{# Edición de noticia. Recibe: noticia, categorias[], action. Usa _form.njk y _scripts.njk. #}
{% extends "layouts/base.njk" %}
{% from "macros/ui.njk" import page_header %}

{% block title %}Editar noticia{% endblock %}

{% block content %}
{{ page_header('Editar noticia', [
  { label: 'Gestión WEB' },
  { label: 'Noticias', href: '/admin/web/noticias' },
  { label: 'Editar' }
]) }}
{% set submitLabel = 'Guardar cambios' %}
{% include "noticias/views/_form.njk" %}
{% endblock %}

{% block scripts %}{% include "noticias/views/_scripts.njk" %}{% endblock %}
