{# Pie del backoffice. Usa: year. #}
<footer class="app-footer">
  <div class="float-end d-none d-sm-inline">
    <a href="https://lynk.com.ar" class="text-decoration-none">Desarrollo LYNK</a>
  </div>
  <strong>Copyright &copy; 2014-{{ year }} FAVL -</strong> Todos los derechos reservados.
</footer>
